      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>I am Jahanvi Jitendrakumar Randhejiya and am studying at Seneca. I am a Computer Science Student who likes learning programming languages. I am very enthusiastic and hard working. Some of my hobbies are sketching, listening to Taylor Swift, and reading books. I am a scholar student, I always have A grade in my exams and assignments. My dream is to travel the world with my friends and taste every food I see. I was born in India and really like my culture and I follow my tradition, I love and respect my parents. My determination has led me here to Canada and it will keep leading me to the top</p>
          <p> and it continues Nullam vulputate lectus at nisi euismod, nec consectetur lorem elementum. Vestibulum id justo metus. Etiam id lacinia nulla. Fusce aliquet convallis mauris iaculis iaculis. Suspendisse et eleifend tortor. Nunc non tincidunt lorem. Integer consectetur magna felis, vel mattis diam varius id. Morbi elementum semper purus, nec ullamcorper neque mattis in. Nulla facilisi. Vivamus mollis justo eget urna bibendum sodales.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Yet to come, stay tuned for more updates.</p>
        </aside>
      </div>